html{
	display: table;
}

body, form{
	margin: 0;
}

#form{
	text-align: center;
	margin: 0 0 0 0;
}

.forEnabled{
	display: none;
}
.enabled .forEnabled{
	display: block;
}
.enabled .forDisabled{
	display: none;
}

input{
	cursor: pointer;
	min-width: 400px;
	margin: 0;
	height: 40px;
	outline: none;
	-webkit-appearance: none;
}

input::-webkit-slider-thumb {
  height: 40px;
  width: 2px;
  cursor: grab;
  -webkit-appearance: none;
  border-radius:0;
  background: #efefef;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  filter: invert(1)
}

input::-webkit-slider-thumb:active{
	cursor: grabbing;
}

button{
	border: 0;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 0;
	background: #efefef;
	display: block;
	width: 100%;
	height: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: Helvetica;
	letter-spacing: 40px;
	padding: 5px 0 5px 40px;
}

#button_enable{
	background: transparent;
}
#button_enable:hover, button:hover{
	background: #D6D6D6
}
#button_enable:active, button:active{
	background: #B0B0B0;
}

#input_invert_range{
    background: linear-gradient(to right, #fff 0%, #7d7d7d 50%, #000 100%);
}

#input_hue_range{
    background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(17%, #ff0), color-stop(33%, #0f0), color-stop(50%, #0ff), color-stop(66%, #00f), color-stop(83%, #f0f), to(#f00));
}

span{
	position: absolute;
	margin-top: 13px;
	z-index: 1;
	width: 100%;
	pointer-events: none;
}
b{
	background: #efefef;
	padding: 3px 5px 2px 5px;
}